<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TechKids ludum dare score</title>
</head>
<body>
<h1>TechKids LudumDare score APIs</h1>
<ul>
    <li>
        <p>
            <code>
                <span>GET <a href="/score">/score</a> to retrive all score within 10 days</span>
            </code>
        </p>
    </li>
    <li>
        <p>
            <code><span>POST form(name, score) <a href="/score">/score</a></span> to add new score</code>
        </p>
    </li>
    <li>
        <p>
            <code><span>DELETE <a href="/score">/score</a></span> to delete all score</code>
        </p>
    </li>
    <li>
        <p>
            <code><span>GET <a href="/top">/score</a></span> to retrive highest score</code>
        </p>
    </li>
</ul>


</body>
</html>